sidebar
  position: fixed
  right: 0
  top: 0
  height: 100%
  background: $sidebar-background
  width: $sidebar-width
  padding: 1.8rem 0
  color: white
  box-sizing: border-box
  transition: 0.3s
  font-size: 1.2rem
  line-height: 2rem

  ul
    padding: 0
    margin: 0

    li
      list-style: none
      margin-bottom: 1px

      &:hover,
      &:active
        a
          background: darken($sidebar-background, 10%)

      a
        display: inline-block
        width: 100%
        color: white
        padding: 0.5rem 1rem

      &.active
        a
          background: $links-color

  footer
    position: absolute
    bottom: 2rem
    left: 0
    display: inline-block
    color: white
    width: 100%
    line-height: 1rem
    text-align: center

    small
      font-size: 0.8rem